<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>File Delete</title>
    <script>
        function deleteFile(event) {
            event.preventDefault();

            var owner = document.getElementById('owner').value;
            var fileName = document.getElementById('fileName').value;

            fetch(`/api/delete/${owner}/${fileName}`, { method: 'DELETE' })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => { throw err; });
                }
                return response.json();
            })
            .then(data => {
                alert('File deleted successfully');
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Error deleting file: ' + error.message);
            });
        }
    </script>
</head>
<body>
<h2>Delete File</h2>
<form onsubmit="deleteFile(event)">
    <label for="owner">Owner:</label><br>
    <input id="owner" name="owner" type="text"><br><br>

    <label for="fileName">File Name:</label><br>
    <input id="fileName" name="fileName" type="text"><br><br>

    <input type="submit" value="Delete">
</form>
</body>
</html>
